# Copyright (C)  2018 Heiko Stamer <HeikoStamer@gmx.net>
#
# Permission is granted to copy, distribute and/or modify this document under
# the terms of the GNU Free Documentation License, Version 1.3 or any later
# version published by the Free Software Foundation; with no Invariant Sections,
# no Front-Cover Texts, and no Back-Cover Texts. A copy of the license is
# included in the sources of this package and additionally can be obtained from
# the Internet <https://www.gnu.org/licenses>.
#
dist: trusty
sudo: required
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libgcrypt20-dev
  - sudo apt-get install -y libgmp-dev
  - sudo apt-get install -y zlib1g-dev
  - sudo apt-get install -y libbz2-dev
  - sudo apt-get install -y autoconf
  - sudo apt-get install -y automake
  - sudo apt-get install -y libtool
  - sudo apt-get install -y texinfo
  - git clone https://github.com/HeikoStamer/libtmcg.git
  - cd libtmcg && autoreconf -v -i -f && ./configure --prefix=/tmp && make && make install && cd ..
language: cpp
compiler:
  - clang
  - gcc
script: autoreconf -v -i -f -I /tmp/share/aclocal && ./configure --with-libTMCG-prefix=/tmp && make && travis_wait 60 make check

