.Tpo
.deps/
.dirstamp
dkg-addrevoker
dkg-adduid
dkg-decrypt
dkg-encrypt
dkg-gencrs
dkg-generate
dkg-keycheck
dkg-keyinfo
dkg-keysign
dkg-refresh
dkg-revoke
dkg-revuid
dkg-sign
dkg-timestamp
dkg-timestamp-verify
dkg-verify
dkgpg_config.h
stamp-h1
*.o
*.1
